/* style.css */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center; /* Centraliza verticalmente o conteúdo */
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    width: 85%;
    margin: 0 auto; /* Centraliza horizontalmente o container */
    padding: 0 20px;
    box-sizing: border-box;
}

#header {
    gap: 10px;
    display: flex;
    height: 130px;  /* Altura do header */
    padding: 0 130px;
    align-items: center;
    z-index: 999;
    top: -10px;
    position: sticky;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.127);   
    grid-column: 1 / -1;
    background-color: white;
    text-align: center;
 
}


nav{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#imagem-logo-inicial{
    width: 108px;
    height: 95px;
}

.imagem-header{
    width: 30px;
    height: 30px;
}

.container1-header{
    display: flex;
    justify-content: space-between;
    gap: 280px;
    align-items: center;
}

.container2-header{
    display: flex;
    color: #292929;
    gap: 5px;
}

.container2-header p{
    font-size: 18px;
    padding: 8px 12px 22px;
    
}

.box1-header{
    display: flex;
}

.box1-header p{
    font-size: 14px;
    padding: 8px 12px;
    color: #707070;
}

.box2-header{
    display: flex;
    align-items: center;
}

.box2-header p{
    font-size: 14px;
}

.container1-box2-header{
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 10px;
}

.box-extra{
    padding: 8px 0 8px 12px;
}

.container2-box2-header{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 10px;
    padding: 8px 28px;
    background-color: #ffbc0d;
    border-radius: 6px;
}

.slideShow {
    grid-column: 1 / -1;
    background-color: #e0e0e0;
    text-align: center;
    height: 700px; /* Altura do slideShow */
    background-image: url(../img/imagem.inicial.png);
    background-size: cover;
}

.combos {
    display: grid;
    grid-template-columns: repeat(2, 2fr); /* Duas colunas por linha */
    grid-column: 1 / -1;
    justify-items: center; /* Centraliza itens dentro de cada célula do grid */
}

.produtos {
    background-color: white;
    color: #292929;
    width: 746px;
    height: 532px; /* Definindo a largura dos cards */
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 6px;
    align-items: center;
    text-align: center;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.07);
}

.produtos img {
    width: 100%;
    height: 322px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.produtos button {
    min-width: 114px;
    background-color: #ffbc0d; /* Cor de fundo do botão */
    border: none;
    padding: 14px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.produtos div button {
    align-self: center; /* ou outro valor como center */
    width: auto; /* ou outro valor fixo como 100px */
}

.produtos button:hover {
    background-color: #c08b00; /* Cor de fundo do botão ao passar o mouse */
}

.produtos div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.conteudo-card {
    border: #292929;
    width: 85%;
}


.informacoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    grid-row: 4;
    justify-items: center; /* Centraliza itens dentro de cada célula do grid */
    gap: 10px;
    margin-top: 35px;
}

.info-cards {
    background-color: white;
    text-align: center;
    height: 478px;
    width: 485px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui espaço entre o conteúdo */
    align-items: center;
    position: relative;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.07);
}

.info-cards img {
    width: 100%;
    height: 212px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.conteudo-info-card {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1; /* Faz o conteúdo do texto crescer para ocupar espaço */
}

.info-textos {
    margin-top: 20px;
    flex-grow: 1; /* Para garantir que o texto centralize verticalmente */
    text-align: center;
}

.info-textos h2 {
    margin-bottom: 15px;
}

.info-cards button {
    min-width: 114px;
    background-color: #ffbc0d; /* Cor de fundo do botão */
    border: none;
    padding: 14px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 40px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
}

.info-cards button:hover {
    background-color: #c08b00; /* Cor de fundo do botão ao passar o mouse */
}

#rodape {
    grid-column: 1 / -1;
    background-color: #f8f8f8;
    
    height: 700px; /* Altura do rodapé */
    margin-top: 90px;
}

.rodape_container{
    display: flex;
    background-color: #FFBF00;
    max-height: 300px;

    
}

.textoep{
    flex-direction: column;
}


.titulo_final{
    display: flex;
    font-size: 40px;
    margin-top: 20px;

}

.texto_final{
    font-size: 18px;
    color: black;
    
}

.botao_final{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    margin-left: 620px;
    margin-top: 50px;
    border: none;
    font-weight: bold;
    
}

.logo_final{
    margin-left:200px;
    padding: 20px;
    max-width: 125px;
}

.sobre{
    display: flex;
    
    
}

ul{
    margin: 40px 140px;
    font-weight: bold;
    
}

li{
    list-style: none;
    color: #696969;
    padding:  5px;
}

.redesociais ul{
    display: flex;
}

.redesociais ul.apps li img {
    width: 150px;
    
    
  }
  

.redesociais li.appst img {
    
    width: 130px; 
    margin-left: 1200px;
    }

    .redesociais li.appsg img{
        width: 145px;
    }

hr{
    margin: 0 180px;
}

.linhafinal {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 20px 80px;
    gap: 20px;
}

.linhafinal div {
    display: flex;
    gap: 20px; /
}

.linhafinal .logo_container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.linhafinal .logo_container img {
    width: 40px; /
}
